body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2b2b2d;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  color: #ffffff;
}
h2{
  color: #ffffff;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: black;
  color: white;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgb(35, 29, 29) ;
  color: white;
}

pre {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  color: #333;
  background-color: rgb(173, 168, 168);
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
